/*  Special fonts */
@font-face {
	font-family: 'Open Sans L';
	font-style: normal;
	font-weight: 300;
	src: local('Open Sans Light'), local('OpenSans-Light'), url(fonts/open_sans/OpenSans-light.woff) format('woff');
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Open Sans'), local('OpenSans'), url(fonts/open_sans/OpenSans.woff) format('woff');
}
@font-face {
	font-family: 'Open Sans S';
	font-style: normal;
	font-weight: 600;
	src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(fonts/open_sans/OpenSans-semibold.woff) format('woff');
}
@font-face {
	font-family: 'Open Sans B';
	font-style: normal;
	font-weight: 700;
	src: local('Open Sans Bold'), local('OpenSans-Bold'), url(fonts/open_sans/OpenSans-bold.woff) format('woff');
}
@font-face {
	font-family: 'Open Sans XB';
	font-style: normal;
	font-weight: 900;
	src: local('Open Sans Bold'), local('OpenSans-Bold'), url(fonts/open_sans/OpenSans-ExtraBold.woff) format('woff');
}

.recherche{
    font-family: "Open Sans S";
    color : white;
}

#btnEval{
    font-family : "Open Sans B";
    color : white;
    
}

#btnAnalyse{
    font-family : "Open Sans B";
    color : white;
}

.titre_competences, .titre_notes{
    font-family : "Open Sans XB";
    color : white;
    font-size: 20px;
}
.titre_notes{
    display:block;
}
.sous_menu{
    border:white solid 2px;
    width:350px;
    height:450px;
    background-color:grey;
}
.compet{
    padding-top:10px;
}

.section_notes{
}
#first{
    padding-top:10px;
}
#note1{
    margin-left:40px;
}
.notes{
    margin-right:5px;
}
.competence_item{
    margin-bottom:5px;
}
.btnBig{
    font-family : "Open Sans XB";
    color : white;
    font-size: 20px;
    margin-left:35px;
}

/*  ============== 
     Accueil.xhtml
    ==============
    Center the text */
.fullPage{
  position: fixed;
  width:100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color : white;
}


.bigTitle{
    font-family:"Open Sans XB";
    color : #28C3CC;
    font-size : 100px;
    font-weight: bold;
    padding-bottom:10px;
    text-align:center;
}

.infoBigTitle{
    font-family: "Open Sans";
    display:block;
    color : #28C3CC;
    font-size : 30px;
    text-align:center;
    padding-bottom:150px;
}

.btnParent{
    display:inline-block;
}

#btnParent{
    padding: 15px 32px;
    background:url("images/parent_ecusson.png");
    background-repeat: no-repeat;
    width:150px;
    height:150px;
}

#imgparent{
    background:url("images/parent_ecusson.png");
    background-size: 150px 150px;
    transition: background 0.25s ease-in-out;
}

#imgparent:hover{
    background:url("images/parent_ecusson_sel.png");
    background-size: 150px 150px;
}

#imgprof{
    background:url("images/prof_ecusson.png");
    background-size: 150px 150px;
    transition: background 0.25s ease-in-out;
}

#imgprof:hover{
    background:url("images/prof_ecusson_sel.png");
    background-size: 150px 150px;
}

#imgetud{
    background:url("images/eleve_ecusson.png");
    background-size: 150px 150px;
    transition: background 0.25s ease-in-out;
}

#imgetud:hover{
    background:url("images/eleve_ecusson_sel.png");
    background-size: 150px 150px;
}
.btnStudent{
    display:inline-block;
}

.btnTeacher{
    display:inline-block;
}

.parent,.eleve,.enseignant{
    font-size:20px;
    font-family: "Open Sans S";
    padding-right:60px;
    display:inline-block;
}

.eleve{
    color:#1bc7cd;
}

.enseignant{
    color:#2cd189;
}
.parent{
    color:#652d90
}

/*  ============== 
    Teacher.xhtml
    ==============*/
.bgImage{
    background-image: url("images/profbg.png");
}

.mainTitle{
    padding-left:40px;
    padding-top:20px;
    color:white;
    display:inline-block;
    font-family:"Open Sans XB";
    font-size : 50px;
}

.infoMainTitle{
    font-family:"Open Sans";
    color:white;
    display:inline-block;
}

.infoMainTitle2{
    font-family:"Open Sans";
    color:white;
    display:inline-block;
}

.mainEnseignant{
    font-family:"Open Sans XB";
    font-size : 25px;
    color:white;
    padding-right:30px;
    position:fixed;
    top: 95%;
    left: 95%;
    transform: translate(-95%, -95%);
}

.main{
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#username{
   font-family:"Open Sans XB";
   padding-left:20px;
   font-size:70px;
   color:#64ed9f;
   background-color:#ebfef4;
   height:150px;
   width:600px;
   margin-bottom:20px;
      /* box-shadow: 0 0 5px #00F5FF;
      border: 2px solid #00F5FF;*/
}

#password{
   padding-left:20px;
   background-color:#ebfef4;
   color:#64ed9f;
   font-size:100px;
   height:150px;
   width:500px;
   margin-right:10px;
}

#submit{
    font-family:"Open Sans";
    background:url("images/fleche.png");
    background-size: 100% 100%;
    position:absolute;
    bottom:0px;
    height:155px;
    width:90px;
    font-size:50px;
}

#pwconfirm{
    position:relative;
}

.btnSmall,.btnBig,.notes{
    background-color: green;
    color:white;
}

.selectMatiere{
    margin-left:10px;
    font-size:20px;
    width:180px;
    height:40px;
}
.selectGroupe{
    margin-left:10px;
    margin-top:5px;
    display:block;
    font-size:20px;
    height:40px;
    width:180px;
}
.contenu{
    padding-top:10px;
    margin-left:30px;
}
.analyse{
    margin-top:20px;
}
.menu{
    font-family : "Open Sans XB";
    color : white;
    font-size: 15px;
    margin-left:10px;
}

#eval{
    margin-left:45px;
}

.sectionRecherche{
    padding-right:30px;
    position:fixed;
    top: 12%;
    left: 85%;
    transform: translate(-12%, -85%);
}
.recherche{
    display:block;
}
.gros_menu{
    padding-top: 15px;
}


/* FB CSS */
.accueilBtn {
  width: 100%;
  text-align: center;

}

.accueilBtn div {
    width: 222px;
    text-align: center;
    margin: auto;
}
